/* Variables */

:root {
    --basic-black: #000000;
    --basic-black-opacity: rgba(0, 0, 0, 0.3);
    --basic-taupe-gray: #888888;
    --basic-white: #ffffff;
    --basic-white-opacity: rgba(255, 255, 255, 0.3);
    --basic-bright-gray: #eeeeee;
    --basic-anti-flash-white: #f2f2f2;
    --basic-dark-gray: #a9a9a9;
    --basic-ivory-black: #231f20;
    --basic-dark-sky-blue: #81b3d2;
    --basic-deep-taupe: #766357;
    --basic-dark-charcoal: #333333;
    --basic-silver-chalice: #ababab;
    --basic-granite-gray: #666666;
    --basic-cyan-azure: #4B81AD;
    --basic-chinese-silver-shadow: rgba(0, 1, 1, 0.2);


    /*styleguide*/
    --basic-dim-gray: #6a6a6a;
    --basic-light-silver: #d8d8d8;
    --basic-chinese-silver: #cacaca;
    --basic-cerulean-frost: #669ec0;
    --basic-silver-lake-blue: #5496bd;
    --basic-umber: #604e43;
    --basic-royal-brown: #503e33;
    --basic-brighter-gray: #ebebeb;
    --basic-raisin-black: #231F20;
    --basic-platinum: #e5e5e5;


     /*colours of logo*/
    --basic-darker-sky-blue: #81b3d3;
    --basic-battery-charged-blue: #23a9e1;
    --basic-medium-vermillion: #dc6243;
    --basic-french-puce: #491213;
    --basic-melon: #f4b1a4;

    /* Grid outline colours*/
    --grid-tomato-opacity: rgba(189, 45, 2, 0.7);
    --grid-lime-opacity: rgba(112, 202, 39, 0.7);

  }

  /* Global */

  body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-anti-flash-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .body-wrapper {
    min-width: 1200px;
    height: 100%;
    margin: 0px 40px;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px var(--basic-chinese-silver-shadow);
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* Grid */

  .page {
    height: 100%;
  }

  /* Main header */


  /* Navigation */

  .site-navigation {
    list-style: none;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }

  .site-navigation a {
    color: var(--basic-black);

  }

  .site-navigation a:hover,
  .site-navigation a:focus {
    color: var(--basic-dark-sky-blue);
  }

  .site-navigation a:active {
    color: var(--basic-black-opacity);
  }

  .site-navigation-current a:not([href]) {
    color: var(--basic-deep-taupe);
  }

  .main-navigation {
    display: grid;
  }

  .main-header-bar {
    background-color: var(--basic-white);
    height: 56px;
  }

  /* Header logo */

  .main-header-logo {
    position: absolute;
    top: 0px;
    left: 571px;
    width: 138px;
    height: 70px;
  }

  /* Advantages */

  .advantages {
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
  }

  .advantages ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .advantages h2, .advantages h3 {
    text-align: center;
  }
/*
  .advantages-features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
*/
  .advantages-item h3, .advantages-features-item h3 {
    font-size: 21px;
    line-height: 21px;
  }

  .advantages-item, .advantages-features-item {
    text-align: center;
  }

  .advantages-features-item h3, .advantages-item h3 {
    color: var(--basic-black);
  }

  .advantages h3, .advantages-features-item p, .advantages-item p {
    color: var(--basic-dark-charcoal);
  }

  .index-logo {
    background-color: var(--basic-cyan-azure);
    background-image: url("../img/bg-photo.jpg");
    background-position: center, 50% 50%;
    background-repeat: no-repeat, repeat;
    text-align: center;
  }

  /* Modal button */

  .availability-search {
    text-align: center;
  }

  .availability-search h1 {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
  }

   .availability-search-button {
    width: 568px;
    height: 86px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    background-color: var(--basic-deep-taupe);
    border: none;
  }

  .availability-search-button:hover, .availability-search-button:focus {
    background-color: var(--basic-umber);
  }

  .availability-search-button:active {
    background-color: var(--basic-royal-brown);
    color: var(--basic-white-opacity);
  }

  /* Footer */

  .main-footer {
    outline: 5px solid var(--grid-lime-opacity);
    outline-offset: -5px;
  }

  .footer-contacts h2, .footer-contacts p {
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
  }

  .contacts-phone {
    color: inherit;
    font-weight: 700;
  }

  .footer-social, .footer-copyright {
    text-align: center;
    vertical-align: middle;
   }

  .footer-social-list {
    list-style: none;
   }

  .social-button {
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-dark-sky-blue);
  }

  .social-button:hover, .social-button:focus {
    background-color: var(--basic-cerulean-frost);
  }
  .social-button:active {
    background-color: var(--basic-silver-lake-blue);
  }

  /* Modal window */

  .modal {
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
    display: none;
  }

  .modal h3 {
    font-size: 21px;
    line-height: 26px;
    }

  .search-button {
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    background-color: var(--basic-dark-sky-blue);
    border: none;
  }

  .search-button:hover, .search-button:focus {
    background-color: var(--basic-cerulean-frost);
    }

  .search-button:active {
    background-color: var(--basic-silver-lake-blue);
    color: var(--basic-white-opacity);
    border: none;
  }

  /* Login form */

  .search-form input[type="text"],
  .search-form input[type="number"] {
    font: inherit;
    line-height: inherit;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-anti-flash-white);
    border: none;
  }

  .search-form input[type="text"]:hover,
  .search-form input[type="number"]:hover {
    background-color: var(--basic-brighter-gray);
    border: none;
  }

  .search-form input[type="text"]:focus,
  .search-form input[type="number"]:focus {
    border: 2px solid;
    border-color: var(--basic-platinum);
    background-color: var(--basic-white);
  }

  /* Filter */

  .search-filter {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-cyan-azure);
    background-image: url(../img/bg-filter.jpg);
    background-repeat: no-repeat;
    background-position: center, 50% 50%;
  }

  .search-filter h2 {
    line-height: 26px;
  }

  .search-filter-form legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }

  .search-filter-form fieldset {
    border: none;
  }

  .search-filter-form ul {
    list-style: none;
  }

  .search-filter-checkbox:hover + label,
  .search-filter-checkbox:focus + label  {
    color: var(--basic-white);
    background-color: transparent;
  }

  .search-cost-value input {
    background-color: transparent;
    border: 2px solid var(--basic-white);
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
  }

  .search-cost-range input {
    width: 220px;
    height: 2px;
  }

  .search-filter-button {
    width: 137px;
    height: 36px;
    font: inherit;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--basic-white);
  }

  .search-filter-button:hover, .search-filter-button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

  /* Search result section */

  .search-result {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  .search-result ul {
    list-style: none;
  }

  .search-result-value {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  .sorting-switches {
    font-size: 12px;
    line-height: 18px;
  }

  .sorting-switches h3 {
    color: var(--basic-black);
  }

  .sorting-switches a {
    color: var(--basic-black-opacity);
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .sorting-switches-current a:not([href]) {
    color: var(--basic-dark-sky-blue);
    text-decoration: none;
  }

  .sorting-switches a:hover, .sorting-switches a:focus {
    color: var(--basic-dark-sky-blue);
  }

  .sorting-switches a:active {
    color: var(--basic-black);
    text-decoration: none;
  }

  .search-result-item h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  .search-item-name {
    color: var(--basic-black);
  }

  .search-item-name:hover, .search-item-name:focus {
    color: var(--basic-dark-sky-blue);
  }

  .search-item-name:active {
    color: var(--basic-black-opacity);
  }

  .search-item-details {
    width: 110px;
    height: 27px;
    background-color: var(--basic-dark-sky-blue);
    padding: 3px 16px 3px 17px;
  }

  .search-item-booking {
    width: 142px;
    height: 27px;
    background-color: var(--basic-deep-taupe);
    padding: 3px 16px 3px 17px;
  }

  .search-item-details, .search-item-booking {
    font-weight: 700;
    color: var(--basic-white);
  }

  .search-item-details:hover, .search-item-details:focus {
    background-color: var(--basic-cerulean-frost);
  }

  .search-item-details:active {
    background-color: var(--basic-silver-lake-blue);
    color: var(--basic-white-opacity);
  }

  .search-item-booking:hover, .search-item-booking:focus {
    background-color: var(--basic-umber);
  }

  .search-item-booking:active {
    background-color: var(--basic-royal-brown);
    color: var(--basic-white-opacity);
  }

  .item-rating-value {
    width: 110px;
    height: 27px;
    color: var(--basic-granite-gray);
    background-color: var(--basic-anti-flash-white);
    padding: 3px 12px 3px 15px;
  }

