/* Variables */

:root {
    --basic-black: #000000;
    --basic-black-opacity: rgba(0, 0, 0, 0.3);
    --basic-taupe-gray: #888888;
    --basic-white: #ffffff;
    --basic-white-opacity: rgba(255, 255, 255, 0.3);
    --basic-bright-gray: #eeeeee;
    --basic-anti-flash-white: #f2f2f2;
    --basic-dark-gray: #a9a9a9;
    --basic-ivory-black: #231f20;
    --basic-dark-sky-blue: #81b3d2;
    --basic-deep-taupe: #766357;
    --basic-dark-charcoal: #333333;
    --basic-silver-chalice: #ababab;
    --basic-granite-gray: #666666;
    --basic-cyan-azure: #4B81AD;
    --basic-chinese-silver-shadow: rgba(0, 1, 1, 0.2);
    --basic-white-opacity-low: rgba(255, 255, 255, 0.9);
    --basic-black-opacity-low: rgba(0, 1, 1, 0.15);


    /*styleguide*/
    --basic-dim-gray: #6a6a6a;
    --basic-light-silver: #d8d8d8;
    --basic-chinese-silver: #cacaca;
    --basic-cerulean-frost: #669ec0;
    --basic-silver-lake-blue: #5496bd;
    --basic-umber: #604e43;
    --basic-royal-brown: #503e33;
    --basic-brighter-gray: #ebebeb;
    --basic-raisin-black: #231F20;
    --basic-platinum: #e5e5e5;


     /*colours of logo*/
    --basic-darker-sky-blue: #81b3d3;
    --basic-battery-charged-blue: #23a9e1;
    --basic-medium-vermillion: #dc6243;
    --basic-french-puce: #491213;
    --basic-melon: #f4b1a4;

    /* Grid outline colours*/
    --grid-tomato-opacity: rgba(189, 45, 2, 0.7);
    --grid-lime-opacity: rgba(112, 202, 39, 0.7);

  }

  /* Global */

  body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-anti-flash-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .body-wrapper {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px var(--basic-chinese-silver-shadow);
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  /* Grid */

  .page {
    height: 100%;
  }

  /* Main header */

  .main-header {
    position: relative;
  }

  /* Navigation */

  .site-navigation {
    list-style: none;
    font-weight: 700;
    margin: 0px 72px;
    padding: 0px;
  }

  .site-navigation a {
    color: var(--basic-black);

  }

  .site-navigation a:hover,
  .site-navigation a:focus {
    color: var(--basic-dark-sky-blue);
  }

  .site-navigation a:active {
    color: var(--basic-black-opacity);
  }

  .site-navigation-current a:not([href]) {
    color: var(--basic-deep-taupe);
  }

  .main-header-bar {
    background-color: var(--basic-white);
  }

  /* Header logo */

  .main-header-logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 138px;
    height: 70px;
    padding-bottom: -14px;
  }

  /* Advantages */

  .advantages ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .advantages-header h2 {
    padding: 0px 365px;
    margin-top: 43px;
    margin-bottom: 26px;
  }

  .advantages-header h3 {
    font: inherit;
    padding: 17px 340px 51px 340px;
    margin: 0px;
    color: var(--basic-dark-charcoal);
  }

  .advantages h2, .advantages h3 {
    text-align: center;
  }

  .advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .flex-apply {
    display: flex;
  }

  .advantages-item {
    grid-column: 1 / -1;
  }

  .grid-inline-item-one {
    grid-column: 1 / 2;
    padding: 50px;
    background-color: var(--basic-bright-gray);
  }

  .grid-inline-item-two {
    grid-column: 2 / 3;
    padding: 50px;
    background-color: var(--basic-bright-gray);
  }

  .grid-inline-item-three {
    grid-column: 3 / 4;
    padding: 50px;
    background-color: var(--basic-bright-gray);
  }

  .advantages-item-text {
    width: 400px;
    min-height: 256px;
    background-color: var(--basic-dark-sky-blue);
    vertical-align: middle;
    text-align: center;
  }

  .advantages-item-text h3 {
    margin: 0px;
    padding: 43px 139px 25px 139px;
  }

  .advantages-item-text p {
    margin: 0px;
    padding: 0px 51px auto 52px;
  }

  .white-on-blue {
    color: var(--basic-white);
  }

  .advantages-features-item {
    padding: 60px;
  }

  .advantages-item h3, .advantages-features-item h3 {
    font-size: 21px;
    line-height: 21px;
  }

  .advantages-item, .advantages-features-item {
    text-align: center;
  }

  .advantages-features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

/*  .advantages-features-item p:last-child, .advantages-item p:last-child {
    color: var(--basic-dark-charcoal);
  }*/

  .charcoal {
    color: var(--basic-dark-charcoal);
  }

  .index-logo {
    background-color: var(--basic-cyan-azure);
    background-image: url("../img/bg-photo.jpg");
    background-position: center, 50% 50%;
    background-repeat: no-repeat, repeat;
    display: grid;
    grid-template-columns: 1fr;
  }

  .index-logo img {
    justify-self: center;
  }

  .index-logo::after {
    content: url(../img/bg-shape.svg);
    height: 56px;
  }

  /* Modal button */

  .availability-search {
    text-align: center;
    min-height: 884px;
    margin-bottom: -120px;
    z-index: -1;
  }

  .availability-search img {
    width: 1200px;
  }

  .availability-search h1 {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 58px;
  }

  .availability-search p {
    margin: 0px 382px;
    padding: 34px 0px 38px 0px;
  }

   .availability-search-button {
    width: 568px;
    height: 86px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    background-color: var(--basic-deep-taupe);
    border: none;
  }

  .availability-search-button:hover, .availability-search-button:focus {
    background-color: var(--basic-umber);
  }

  .availability-search-button:active {
    background-color: var(--basic-royal-brown);
    color: var(--basic-white-opacity);
  }

  /* Footer */

  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
    height: 120px;
    background-color: var(--basic-white-opacity-low);
    position: absolute;
    width: 100%;
  }

  .footer-contacts {
    margin-left: 72px;
  }

  .footer-contacts h2, .footer-contacts p {
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
  }

  .contacts-phone {
    color: inherit;
    font-weight: 700;
  }

  .footer-social, .footer-copyright {
    text-align: center;
  }

  .footer-copyright {
    margin-right: 72px;
  }

  .footer-social-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  .social-button {
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-dark-sky-blue);
  }

  .social-button:hover, .social-button:focus {
    background-color: var(--basic-cerulean-frost);
  }
  .social-button:active {
    background-color: var(--basic-silver-lake-blue);
  }

  /* Modal window */

  .modal {
    position: absolute;
    top: 2050px;
    left: 316px;
    width: 568px;
    height: 395px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-sizing:border-box;
    padding: 55px;
    box-shadow: 0px 7px 15px var(--basic-black-opacity-low);
  }

  .modal h3 {
    font-size: 21px;
    line-height: 26px;
  }

  .search-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
  }

  .search-button {
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    background-color: var(--basic-dark-sky-blue);
    border: none;
    grid-column: 1 / -1;
  }

  .search-button:hover, .search-button:focus {
    background-color: var(--basic-cerulean-frost);
  }

  .search-button:active {
    background-color: var(--basic-silver-lake-blue);
    color: var(--basic-white-opacity);
    border: none;
  }

  /* Search form */

  .search-form input[type="text"],
  .search-form input[type="number"] {
    font: inherit;
    line-height: inherit;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-anti-flash-white);
    border: none;
  }

  .search-form input[type="text"]:hover,
  .search-form input[type="number"]:hover {
    background-color: var(--basic-brighter-gray);
    border: none;
  }

  .search-form input[type="text"]:focus,
  .search-form input[type="number"]:focus {
    border: 2px solid;
    border-color: var(--basic-platinum);
    background-color: var(--basic-white);
  }

  .search-form input[type="text"]{
    width: 346px;
    grid-column: 2 / -1;
  }

  .search-form input[type="number"] {
    width: 114px;
  }

  .search-form p {
    grid-column: 1 / -1;
    margin: 0px;
    padding: 0px;
  }

  /* Filter */

  .search-filter {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-cyan-azure);
    background-image: url(../img/bg-filter.jpg);
    background-repeat: no-repeat;
    background-position: center, 50% 50%;
    width: 100%;
  }

  .search-filter-form {
    display: grid;
    grid-template-columns: 230px 1fr 330px;
    padding: 27px 73px;
  }

  .search-filter-form legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }

  .search-filter-form fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
  }

  .search-filter-form ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  .search-filter-checkbox:hover + label,
  .search-filter-checkbox:focus + label  {
    color: var(--basic-white);
    background-color: transparent;
  }

  .search-cost-value input {
    background-color: transparent;
    border: 2px solid var(--basic-white);
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
  }

  .search-cost-range input {
    width: 220px;
    height: 2px;
  }

  .search-filter-button {
    width: 137px;
    height: 36px;
    font: inherit;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    grid-column: 3 / -1;
    justify-self: center;
  }

  .search-filter-button:hover, .search-filter-button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

  /* Search result section */

  .search-result-list {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .search-result-item {
    display: grid;
    grid-template-columns: 172px 1fr min-content;
  }

  .search-result-item img {
    margin: auto;
    margin-left: 0px;
  }
/*
  .search-result-item div:last-child {
    align-self: end;
    justify-self: end;
  }
*/
  .search-result {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0px 72px;
  }

  .search-result-sorting {
    display: grid;
    grid-template-columns: 172px 1fr;
  }

  .search-result ul {
    list-style: none;
  }

  .search-result-value {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: auto 0px;
    padding: 0px;
  }

  .sorting-switches {
    font-size: 12px;
    line-height: 18px;
  }

  .sorting-switches ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 527px;
    align-items: center;
    justify-items: center;
  }

  .sorting-switches li:last-child {
    justify-self: end;
  }

  .sorting-switches h3 {
    color: var(--basic-black);
  }

  .sorting-switches a {
    color: var(--basic-black-opacity);
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .sorting-switches-current a:not([href]) {
    color: var(--basic-dark-sky-blue);
    text-decoration: none;
  }

  .sorting-switches a:hover, .sorting-switches a:focus {
    color: var(--basic-dark-sky-blue);
  }

  .sorting-switches a:active {
    color: var(--basic-black);
    text-decoration: none;
  }

  .search-result-item h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  .search-item-name {
    color: var(--basic-black);
  }

  .search-item-name:hover, .search-item-name:focus {
    color: var(--basic-dark-sky-blue);
  }

  .search-item-name:active {
    color: var(--basic-black-opacity);
  }

  .search-item-details {
    width: 110px;
    height: 27px;
    background-color: var(--basic-dark-sky-blue);
    padding: 3px 16px 3px 17px;
  }

  .search-item-booking {
    width: 142px;
    height: 27px;
    background-color: var(--basic-deep-taupe);
    padding: 3px 16px 3px 17px;
  }

  .search-item-details, .search-item-booking {
    font-weight: 700;
    color: var(--basic-white);
  }

  .search-item-details:hover, .search-item-details:focus {
    background-color: var(--basic-cerulean-frost);
  }

  .search-item-details:active {
    background-color: var(--basic-silver-lake-blue);
    color: var(--basic-white-opacity);
  }

  .search-item-booking:hover, .search-item-booking:focus {
    background-color: var(--basic-umber);
  }

  .search-item-booking:active {
    background-color: var(--basic-royal-brown);
    color: var(--basic-white-opacity);
  }

  .item-rating-value {
    width: 110px;
    height: 27px;
    color: var(--basic-granite-gray);
    background-color: var(--basic-anti-flash-white);
    padding: 3px 12px 3px 15px;
  }

  .item-rating-stars {
    text-align: right;
  }

